:root {
    --lo-contrast: #ddd;
}
@media (prefers-color-scheme: dark) {
    :root {
        background: #111;
        color: #fff;
        --lo-contrast: #333;
    }
}
:root {
    --bd: solid 1px var(--lo-contrast);
    --vote-size: 0.25rem
}

.placeholder {text-color: #ddd}
.pa {padding: 1rem}
.debug {border: solid blue 1px}

.template { display: none; }
#content { display: flex; flex-direction: row; }
.content-main { flex: 1; }
.content-side { flex: 0 1 auto; }

button { font-family: "cursive" }
table { border: var(--bd) }
th,td { padding: 1em; margin: 0; border: 0; }
th { border-right: var(--bd); }
#options th { border-bottom: var(--bd); border-right: 0; }

.small {
    font-size: smaller;
    color: var(--lo-contrast);
}

#dohickey .ballot-box {display: none}
#dohickey .voting .ballot-box {display: block}

#votey.voting {background-color: #aef}

.vote {
    height: var(--vote-size);
    width: var(--vote-size);
    position: relative;
    border-radius: 50%
}
.cell .text {padding-left: var(--vote-size)}

.vote.rank-1 {background-color: #aea}
.vote.rank-2 {background-color: #aef}
.vote.rank-3 {background-color: #fff}
.vote.rank-4 {background-color: #eea}
.vote.rank-5 {background-color: #eaa}

#command-line {
    display: flex;
    flex-direction: row;
    justify-spacing: space-between;
}

#history {
    height: 6rem;
    scroll: vertical;
}
